<!DOCTYPE html>
<html>
  <head>
    <title>Jema Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container" style="max-width: 820px; margin: 0 auto;">
      <h1 class="text-center mt-4 mb-4">Jema Careers</h1>
      <div class="row">
        <div class="col-md-6">
      <p class="lead">At Jema, we harness the power of artificial intelligence, data analytics, and digital transformation to drive business growth and innovation. Our team of experts leverages cutting-edge technology to deliver tailored solutions that meet the unique needs of our clients. With a passion for excellence and a commitment to quality, we empower organizations to harness the potential of their data and unlock new possibilities.</p>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img src="/static/people.jpg" style="height:320px; border-radius:4px;">
        </div>
        </div>
      <h2 class="text-center mt-4 mb-4">Job Openings</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobItem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
        <a href="mailto:hello@jovian.ai?subject=Question%20about%20Job%20Openings&body=My%20Name%3A%20%3Cyour%20name%3E%0D%0A%0D%0AMy%20Question%3A%20%3Cyour%20question%3E%0D%0A%0D%0A" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>